<header class="site-header">
  <div class="container">
    <div class="brand">
      <svg xmlns="http://www.w3.org/2000/svg" width="352" height="32" viewBox="0 0 1100 1100" preserveAspectRatio="xMidYMid meet" style="display:block;color:var(--accent)">
        <g transform="translate(0,1100) scale(0.1,-0.1)" fill="currentColor" stroke="none">
          <path d="M1900 6920 c-240 -52 -473 -209 -610 -410 -164 -242 -212 -506 -144 -790 9 -36 40 -115 69 -175 132 -274 365 -465 663 -541 79 -21 122 -26 232 -26 167 -1 302 29 435 94 71 35 199 125 243 170 l42 44 -120 113 -120 113 -63 -59 c-327 -306 -855 -161 -1019 279 -40 106 -50 274 -24 378 58 232 230 420 451 491 83 27 237 32 325 10 81 -20 200 -85 268 -147 l61 -54 93 86 c51 47 106 99 123 115 l29 29 -44 40 c-130 117 -322 214 -481 245 -111 21 -301 19 -409 -5z"/>
          <path d="M4305 6934 c-11 -2 -51 -12 -89 -20 -363 -83 -672 -406 -742 -774 -73 -383 94 -770 431 -997 322 -217 739 -225 1067 -20 225 140 382 350 450 600 33 119 32 355 0 477 -75 279 -295 538 -560 657 -126 57 -216 75 -382 79 -85 1 -164 1 -175 -2z m272 -320 c218 -45 414 -223 487 -444 82 -247 16 -509 -174 -696 -338 -332 -876 -195 -1045 268 -22 58 -28 97 -32 188 -6 137 7 205 67 326 70 143 180 252 317 314 54 25 84 33 188 54 46 9 120 5 192 -10z"/>
          <path d="M5970 6902 c0 -6 25 -45 56 -88 46 -63 93 -131 146 -209 5 -6 159 -12 445 -15 432 -5 439 -6 497 -29 85 -34 169 -118 190 -190 34 -117 11 -209 -73 -292 -91 -91 -131 -102 -388 -107 -117 -2 -213 -7 -213 -11 0 -7 115 -173 353 -511 40 -58 126 -180 191 -272 l118 -168 195 0 195 0 -17 28 c-10 15 -55 79 -100 142 -185 260 -345 491 -345 499 0 5 21 16 48 26 146 54 285 181 348 319 52 113 67 260 39 389 -47 223 -204 382 -460 468 -70 23 -73 24 -647 27 -360 2 -578 -1 -578 -6z"/>
          <path d="M8475 6875 c1 -14 -2 -25 -6 -25 -10 0 -12 -172 -3 -219 l7 -31 698 0 699 1 1 117 c0 64 1 132 2 150 1 20 -3 32 -11 32 -7 0 -10 -4 -7 -10 3 -5 1 -10 -4 -10 -6 0 -11 5 -11 10 0 7 -235 10 -684 10 l-684 0 3 -25z"/>
          <path d="M8452 5978 l3 -153 715 0 715 0 3 153 3 152 -721 0 -721 0 3 -152z"/>
          <path d="M8450 5165 l0 -155 720 0 720 0 0 155 0 155 -720 0 -720 0 0 -155z"/>
          <path d="M4357 4468 c-73 -20 -147 -120 -147 -199 0 -150 170 -255 303 -188 102 52 144 164 102 267 -41 96 -154 149 -258 120z m105 -58 c83 -24 126 -121 89 -204 -25 -58 -69 -86 -134 -86 -42 0 -53 5 -88 38 -33 31 -42 46 -46 84 -11 94 43 167 132 177 6 0 27 -4 47 -9z"/>
          <path d="M5268 4466 c-54 -19 -83 -40 -115 -82 -22 -30 -28 -49 -31 -104 -4 -74 7 -106 55 -154 76 -77 195 -87 286 -24 27 19 28 22 25 101 l-3 82 -80 0 c-80 0 -80 0 -83 -27 -3 -28 -2 -28 51 -28 l55 0 0 -40 c1 -34 -3 -42 -28 -55 -37 -19 -103 -19 -140 0 -104 54 -101 213 4 264 53 26 79 26 135 1 41 -19 45 -19 62 -4 23 20 14 35 -37 59 -48 23 -112 27 -156 11z"/>
          <path d="M6642 4463 c-49 -24 -72 -59 -72 -108 0 -56 25 -78 135 -114 108 -36 125 -56 88 -99 -32 -37 -131 -34 -176 6 -14 12 -22 14 -35 6 -33 -21 -25 -41 29 -68 93 -46 217 -27 247 39 38 83 -3 142 -119 170 -81 20 -110 42 -102 77 12 51 74 63 150 29 l42 -19 14 22 c14 20 13 23 -20 45 -46 29 -135 37 -181 14z"/>
          <path d="M8881 4469 c-46 -14 -127 -97 -142 -148 -38 -126 73 -261 215 -261 33 0 136 42 136 56 0 2 -9 14 -19 25 l-19 21 -30 -22 c-25 -19 -40 -22 -87 -18 -75 6 -120 48 -130 119 -17 125 103 212 213 155 32 -17 35 -17 53 0 24 21 11 39 -46 65 -44 20 -91 23 -144 8z"/>
          <path d="M9644 4460 c-41 -21 -62 -48 -65 -85 -6 -77 20 -103 131 -135 96 -27 118 -46 98 -86 -23 -48 -104 -54 -177 -12 -32 18 -35 18 -52 2 -17 -16 -18 -19 -4 -34 20 -22 107 -50 156 -50 84 0 149 52 149 119 0 56 -47 96 -135 117 -101 25 -125 51 -89 102 20 29 85 30 139 1 37 -20 39 -20 52 -3 18 24 13 35 -25 57 -50 29 -129 32 -178 7z"/>
          <path d="M3462 4268 l3 -203 135 0 135 0 3 28 3 27 -105 0 c-103 0 -106 1 -107 23 0 12 -1 90 -2 172 l-2 150 -33 3 -32 3 2 -203z"/>
          <path d="M5998 4274 c-3 -181 -2 -197 15 -206 44 -23 47 -11 47 202 l0 200 -30 0 -29 0 -3 -196z"/>
          <path d="M7350 4440 l0 -30 65 0 65 0 0 -169 c0 -180 2 -186 49 -174 20 5 21 11 21 174 l0 169 65 0 65 0 0 30 0 30 -165 0 -165 0 0 -30z"/>
          <path d="M8170 4265 l0 -205 26 4 c15 3 28 7 30 8 1 2 4 91 5 198 l2 195 -32 3 -31 3 0 -206z"/>
        </g>
      </svg>
    </div>
    <nav>
      <a href="/" class="btn ghost">Home</a>
      <a href="/about" class="btn ghost">About</a>
      <a href="/services" class="btn ghost">Services</a>
      <a href="/contact" class="btn ghost">Contact</a>
      <a href="/apply" class="btn primary">Apply now</a>
    </nav>
  </div>
</header>

