<footer class="site-footer">
  <div style="width:100%; padding:48px 0 32px 0; font-size:1.3em;">
    <div style="font-weight:700; font-size:2em; margin-bottom:18px; color:#2ecc71;">
      Core Crew Logistics
    </div>
    <div style="margin-bottom:16px; font-size:1.15em;">
      Delivering Professional Logistics Solutions for Your Business Success.<br>
      Browse our open positions, discover your next career move, and explore company details below!
    </div>
    <div style="margin-bottom:16px;">
      <a href="/about" style="color:#f7b731; font-weight:600; margin-right:24px; font-size:1em;">About Us</a>
      <a href="/services" style="color:#f7b731; font-weight:600; margin-right:24px; font-size:1em;">Our Services</a>
      <a href="/jobs" style="color:#f7b731; font-weight:600; margin-right:24px; font-size:1em;">Careers & Open Positions</a>
      <a href="/contact" style="color:#f7b731; font-weight:600; font-size:1em;">Contact</a>
    </div>
    <div style="color:#fff; margin-bottom:16px; font-size:1.05em;">
      Headquarters: 123 Main Ave, City, Country &nbsp; | &nbsp; 
      Phone: <a href="tel:+1234567890" style="color:#2ecc71;">+1 (234) 567-890</a> &nbsp; | &nbsp; 
      Email: <a href="mailto:info@corecrewlogistics.com" style="color:#2ecc71;">info@corecrewlogistics.com</a>
    </div>
    <div style="margin-top:18px; color:#bbb; font-size:1em;">
      &copy; 2025 Core Crew Logistics. All rights reserved.
    </div>
  </div>
</footer>